<h1 class="login-title heading">
    Login</h1>
<form class="login-form" action="#" name="loginForm">
    <label for="userEmail" class="hidden">Username</label>
    <input class="form-input max-width username input-text validate" type="text" name="userName" id="userEmail" placeholder="Username"
        autocomplete="off" />
    <span class="bad-status error-message-hide">Name is required</span>
    <label for="password" class="hidden">Password</label>
    <input class="form-input max-width password input-text validate" type="password" name="userpassword" id="password" placeholder="Password"
        autocomplete="off" />
    <span class="bad-status error-message-hide">Password is required</span>
    <input class="form-btn primary-btn login-btn text-uppercase" type="submit" value="login" id="loginButton" />
    <span class="bad-status error-message-hide" id="invalid">Username or Password incorrect</span>
    <p class="strike">OR</p>
    <a href="../../pages/signup/signup.html" class="form-btn link-btn signup-link" title="Sign up">sign up</a>
</form>