<h1 class="heading t-size-l title-style">Lost Device</h1>
<form class="lost-device-form" action="../../pages/manage-devices/manage-devices.html" method="POST" name="lostDeviceForm" autocomplete="off">
    <label for="serialNumber" class="hidden">Serial Number</label>
        <input type="text" placeholder="Serial Number" class="form-input lost-device-form-input text-white validate" id="serialNumber"
            name="serialNumber" maxlength="4" />
        <span class="error-msg-input"> </span>
   <label for="assetNumber" class="hidden">Asset Number</label>
        <input type="text" placeholder="Asset Number" class="form-input lost-device-form-input text-white validate" id="assetNumber"
            name="assetNumber" maxlength="3" />
        <span class="error-msg-input"> </span>
    <label for="deviceType" class="hidden">Device Type</label>
        <input type="text" placeholder="Device Type" class="form-input lost-device-form-input text-white validate" id="deviceType"
            name="deviceType" />
        <span class="error-msg-input"> </span>
    <label for="deviceNumber" class="hidden">Device Number</label>
        <input type="text" placeholder="Device Number" class="form-input lost-device-form-input text-white validate" id="deviceNumber"
            name="deviceNumber" />
        <span class="error-msg-input"> </span>
    <div class="button-wrapper">
        <input type="submit" value="submit" class="form-btn primary-btn btn-style" />
        <input type="button" value="cancel" class="form-btn primary-btn btn-style" />
    </div>
</form>