<div class="invalid-email-wrapper">
    <p class="email-heading">Invalid Email Id</p>
    <div class="email-main">
        <p class="main-content">Please enter a valid email Id&#8228; Email id should be sapient domain email id only&#8228; For any other domain login, please
            contact network administrator&#8228;</p>
        <p class="sub-content">Please visit this link for further info: http://www&#8228;sapient&#8228;com</p>
        <div class="btn-wrapper">
            <input type="submit" value="OK" id="closePopUp" class="ok-btn form-btn primary-btn" />
        </div>
    </div>
</div>