<div class="filter-wrapper">
    <button class="filter-head" id="filter-button">Filter your Search</button>
    <div id="filter-categories" class="filter-categories">
        <div class="filter-section">
            <h3 class="filter-section-head">Devices</h3>
            <div id="devices">
                <ul>
                    <li class="filter-item">
                        <input type="checkbox" name="Tablet" value="Tablet" class="filter-check" /> Tablet
                        <div class="custom-check"><div class="checked-display"></div></div>
                    </li>
                    <li class="filter-item">
                        <input type="checkbox" name="IPad" value="IPad" class="filter-check" /> IPad
                        <div class="custom-check"><div class="checked-display"></div></div>
                    </li>
                    <li class="filter-item">
                        <input type="checkbox" name="IPhone" value="IPhone" class="filter-check" /> Iphone
                        <div class="custom-check"><div class="checked-display"></div></div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="filter-section">
            <h3 class="filter-section-head">Browsers</h3>
            <div id="browsers">
                <ul>
                    <li class="filter-item">
                        <input type="checkbox" name="Mozilla" value="Mozilla" class="filter-check" /> Mozilla Firefox
                        <div class="custom-check"><div class="checked-display"></div></div>
                    </li>
                    <li class="filter-item">
                        <input type="checkbox" name="Safari" value="Safari" class="filter-check" /> Safari
                        <div class="custom-check"><div class="checked-display"></div></div>
                    </li>
                    <li class="filter-item">
                        <input type="checkbox" name="Chrome" value="Chrome" class="filter-check" /> Chrome
                        <div class="custom-check"><div class="checked-display"></div></div>
                    </li>
                    <li class="filter-item">
                        <input type="checkbox" name="Opera" value="Opera" class="filter-check" /> Opera
                        <div class="custom-check"><div class="checked-display"></div></div>
                    </li>
                    <li class="filter-item">
                        <input type="checkbox" name="IE11" value="IE11" class="filter-check" /> Internet Explorer
                        <div class="custom-check"><div class="checked-display"></div></div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="filter-section">
            <h3 class="filter-section-head">Operating Systems</h3>
            <div id="os">
                <ul>
                    <li class="filter-item">
                        <input type="checkbox" name="IOS7" value="IOS7" class="filter-check" /> IOS7
                        <div class="custom-check"><div class="checked-display"></div></div>
                    </li>
                    <li class="filter-item">
                        <input type="checkbox" name="Android" value="Android" class="filter-check" /> Android
                        <div class="custom-check"><div class="checked-display"></div></div>
                    </li>
                    <li class="filter-item">
                        <input type="checkbox" name="Linux" value="Linux" class="filter-check" /> Linux
                        <div class="custom-check"><div class="checked-display"></div></div>
                    </li>
                    <li class="filter-item">
                        <input type="checkbox" name="Mac" value="Mac" class="filter-check" /> Mac
                        <div class="custom-check"><div class="checked-display"></div></div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>