<p class="sapient-name hide-in-desktop">
    <img src="../../../assets/images/Sapient-logo.png" class="logo-image" alt="sapient logo"> Sapient
    <span>Nitro</span>
</p>
<nav>
    <section class="nav-parent t-size-m">
        <a href="#" class="account-details hide-in-desktop">Account Details</a>
        <ul class="nav-child">
            <li class="nav-tab">
                <a href="../../pages/dashboard/dashboard.html">Admin Dashboard</a>
            </li>
            <li class="nav-tab">
                <a href="../../pages/device-history/device-history.html">Device Info</a>
            </li>
            <li class="manage-device-parent nav-tab">
                <a href="#">Manage Devices</a>
                <ul class="manage-device-child">
                    <li>
                        <a href="../../pages/add-device/add-device.html">Add a new device</a>
                    </li>
                    <li>
                        <a href="../../pages/lost-devices/lost-devices.html">Add lost device</a>
                    </li>
                    <li>
                        <a href="../../pages/upcoming-device/upcoming-device.html">Add upcoming devices</a>
                    </li>
                    <li>
                        <a href="../../pages/manage-devices/manage-devices.html">Manage devices</a>
                    </li>
                </ul>
            </li>

            <li class="nav-tab">
                <a href="../../pages/asset-request/assets-request.html">Requests</a>
            </li>
            <li class="nav-tab">
                <a href="../../pages/my-devices-request/my-devices-request.html">My Devices</a>
            </li>
        </ul>
    </section>
</nav>