<div class="sign-up-wrapper">
<h1 class="heading">Register</h1> 

<form action="#" method="POST" name="signupForm">

        <label class="input-label">
                <input type="text" class="form-input max-width validate" placeholder="Full Name" name="fullName"/>
                <span class="bad-status error-message-hide">Full name is required</span>
        </label>
        <label class="input-label">
                <input type="text" class="form-input max-width validate" placeholder="Oracle Id" name="oracleId"/>
                <span class="bad-status error-message-hide">Oracle id is required</span>
        </label>
        <label class="input-label">
                <input type="email" class="form-input max-width validate" placeholder="Email" name="email" id="userEmail"/>
                <span class="bad-status error-message-hide">Email is required</span>
        </label>
        <label class="input-label">
                <input type="text" class="form-input max-width validate" placeholder="Phone" name="phone" maxlength="10"/>
                <span class="bad-status error-message-hide">Phone is required</span>
        </label>
        <label class="input-label">
                <input type="text" class="form-input max-width validate" placeholder="Job Title" name="job"/>
                <span class="bad-status error-message-hide">Job title is required</span>
        </label>
        <label class="input-label">
                <input type="text" class="form-input max-width validate" placeholder="Location" name="location"/>
                <span class="bad-status error-message-hide">Location is required</span>
        </label>
        <label class="input-label">
                <input type="password" class="form-input max-width validate" placeholder="New password" name="password"/>
                <span class="bad-status error-message-hide">Password is required</span>
        </label>
        <label class="input-label">
                <input type="password" class="form-input max-width validate" placeholder="Confirm Password" name="cPassword"/>
                <span class="bad-status error-message-hide">Passwords do not match</span>
        </label>
        <input class="form-btn primary-btn text-uppercase" type="submit" value="sign up" id="signupButton"/>

</form>
</div>