.page-title{
    padding: 20px;
}
.form-input{
    font-size: 1.1rem;
    color: #ffffff;
    margin: 10px 0px;
}
.form-btn{
    width: 75%;
    padding: 12px;
    margin-top: 10px;
}
.error-message-hide{
        display: inline;
        font-style: italic;
        visibility: hidden;
}
/* to show validation error on input fields*/
@media only screen and (min-width: 640px) {
    .page-title{
        color:#D3D3D3;
   }
}