<figure class="header-logo hide-in-mobile desktop-block">
    <img src="../../../assets/images/Sapient-logo.png" alt="Sapient Logo" height="29px" width="14px">
</figure>
<div class="account-info">
    <p class="account-name"></p>
    <figure>
        <a href="../dashboard/dashboard.html" title="Access Dashboard Page">
            <img class="account-pic" alt="Account figure">
        </a>
    </figure>
    <figure class="dropdown-icon">
        <i class="dropdown icon"></i>

        <div class="dropdown-content">
            <a href="../../pages/account-details/account-details.html" title="Access Account Details Page">
                <img class="account-pic" alt="Account figure"> MyProfile
            </a>
            <a id="logout" title="Access Signup Page ">
                <i class="password icon"></i>
                <span> Logout</span>
            </a>
        </div>
    </figure>
</div>