.logo { 
    font-size:1.875rem;
    text-align:center;
}
.company-name {
    vertical-align: super;
}
.page-title {
    font-size:1.25rem;
    text-align: center;
}
@media screen and (min-width:640px)
{
    .logo {
        margin:22% 0 0 17%;
        width: 90%;
        text-align: left;
    }
    .page-title {
        text-align:left;
        font-size:2.8125rem;
    }
}