<h1 class="page-title heading t-size-l">
    My Devices</h1>
<table class="mydevices-table">
    <tbody class="table-content">
        <tr>
            <td>Device Uses</td>
        </tr>
        <tr class="position-relative">
            <td>
                <ul>
                    <li>Request Pending</li>

                    <li class="links">
                        <span>
                            <img class="link-icon" src="../../../assets/images/message-two.png" alt="Link-Icon">
                            <a class="active text-white" href="../../pages/my-devices-pending/my-devices-pending.html" title="Access Request Pending Page">Request Pending</a>
                        </span>
                        <span>
                            <img class="link-icon" src="../../../assets/images/message-two.png" alt="Link Icon">
                            <a href="../../pages/my-devices-request/my-devices-request.html" class="text-white" title="Access Allocated Devices Page">Allocated Devices</a>
                        </span>
                        <span>
                            <img class="link-icon" src="../../../assets/images/message-one.png" alt="Link Icon">
                            <a href="../../pages/my-devices-pending/my-devices-pending.html" class="text-white" title="Access Request Denied Page">Request Denied</a>
                        </span>
                    </li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>Devices Uses</td>
        </tr>
    </tbody>
</table>