<h1 class="dashboard-page-title heading">Admin Dashboard</h1>
<div class="dashboard-description hide-in-mobile desktop-block">
    <h2>Services Offered</h2>
    <p>Track the assets with their full dashboard-description</p>
    </div>
    <div class="dashboard-wrapper">
        <div class="dashboard-option">
            <a href="../../pages/manage-devices/manage-devices.html" title="Go To Total Number of Devices">
                <i class="total-number-of-devices icon"></i>
                <span class="dashboard-option-content mobile-inline-block">
                    <span class="text-gray mobile-inline-block">Number of Devices</span>
                </span>
            </a>
        </div>
        <div class="dashboard-option">
            <a href="../../pages/my-devices-request/my-devices-request.html" title="Go To Total Allocated Devices">
                <i class="total-allocated-devices icon"></i>
                <span class="dashboard-option-content mobile-inline-block">
                    <span class="text-gray mobile-inline-block">Total Allocated Devices</span>
                </span>
            </a>
        </div>
        <div class="dashboard-option">
            <a href="../../pages/manage-devices/manage-devices.html" title="Go To Total Available Devices">
                <i class="upcoming-devices icon"></i>
                <span class="dashboard-option-content mobile-inline-block">
                    <span class="text-gray mobile-block">Total Available devices</span>
                </span>
            </a>
        </div>
        <div class="dashboard-option">
            <a href="../../pages/my-devices-pending/my-devices-pending.html" title="Go To Total Pending Request">
                <i class="pending-requests icon"></i>
                <span class="dashboard-option-content mobile-inline-block">
                    <span class="text-gray mobile-inline-block">Total Pending Requests</span>
                </span>
            </a>
        </div>
    </div>
